@model LocationViewModel

<style>
    #checkoutmap{
        width:70%;
        display:block;
        margin :2rem auto;
    }
</style>

<div id="checkoutmap"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCusR6WmijqxrnFpR0XeVB_PCiViscWrZ4&callback=initMap&libraries=&v=weekly" async></script>

<script>
    function initMap() {
        const myLatlng = { lat: -25.363, lng: 131.044 };
        const map = new google.maps.Map(document.getElementById("checkoutmap"), {
            zoom: 4,
            center: myLatlng,
        });
        // Create the initial InfoWindow.
        let infoWindow = new google.maps.InfoWindow({
            content: "Click the map to get Lat/Lng!",
            position: myLatlng,
        });
        infoWindow.open(map);
        // Configure the click listener.
        map.addListener("click", (mapsMouseEvent) => {
            // Close the current InfoWindow.
            infoWindow.close();
            // Create a new InfoWindow.
            infoWindow = new google.maps.InfoWindow({
                position: mapsMouseEvent.latLng,
            });
            infoWindow.setContent(
                JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
            );

            console.log(mapsMouseEvent.latLng.toJSON());
            infoWindow.open(map);
        });
    }
</script>