<style>
    #checkoutmap{
        width:70%;
        height:400px;
        display:block;
        margin :2rem auto;
    }
    .map-label{
        text-align:center;
        margin:0 auto;
        display:block;
    }
    .mapForm {
        display: block;
        margin: 2rem auto;
    }
</style>
<h2 class="map-label">Pick from map a location</h2>
<div id="checkoutmap"></div>
<form class="mapForm" data-ajax="true" asp-controller="Map" asp-action="Index">
    <div class="inputs">
        <label for="lat_inp" >Latitude: </label>
        <input name="Latitude" id="lat_inp" type="number" placeholder="Latitude..." />
    </div>
    <div class="inputs">
        <label for="lng_inp" >Longitude: </label>
        <input name="Longitude" id="lng_inp" type="number" placeholder="Longitude..." />
    </div>
    <input type="submit" value="Save" class="button-1" />
</form>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCusR6WmijqxrnFpR0XeVB_PCiViscWrZ4&callback=initMap&libraries=&v=weekly" async></script>

<script>
    function initMap() {
        const myLatlng = { lat: -25.363, lng: 131.044 };
        const map = new google.maps.Map(document.getElementById("checkoutmap"), {
            zoom: 4,
            center: myLatlng,
        });
        // Create the initial InfoWindow.
        let infoWindow = new google.maps.InfoWindow({
            content: "Click the map to get Lat/Lng!",
            position: myLatlng,
        });
        infoWindow.open(map);
        // Configure the click listener.
        map.addListener("click", (mapsMouseEvent) => {
            // Close the current InfoWindow.
            infoWindow.close();
            // Create a new InfoWindow.
            infoWindow = new google.maps.InfoWindow({
                position: mapsMouseEvent.latLng,
            });
            infoWindow.setContent(
                JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
            );

            infoWindow.open(map);

            const latlngObj = mapsMouseEvent.latLng.toJSON();

            $('#lat_inp').val(latlngObj.lat);
            $('#lng_inp').val(latlngObj.lng);
        });
    }
</script>